<!DOCTYPE html>
<html lang="en">
  <head>
   
    
<link href="/stylesheets/bootstrap-icons.min.css" rel="stylesheet">
<script src="/javascripts/color-modes.js"></script>
<link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
<script src="/javascripts/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="/stylesheets/carousel.css">

  </head>
  <title>Workout page</title>
  <body>
    <% include ./partial/navbar %>
    <main>
        <div class="container mt-5">
            <h2 class="text-center text-primary">Workouts</h2>
                <div class="row">
                    <% for(var i=0;i<workouts.length;i++){%>
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                        <div class="col-md-4">
                            <img src="/images/workout.jpeg" class="img-thumbnail rounded-start" alt="...">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                            <h5 class="card-title"><%= workouts[i].title %></h5>
                            <p class="fs-6 th-sm">Type:
                                <span class="fs-6 fw-light"><%= workouts[i].type %></span>
                            </p>
                            <p class="fs-6 th-sm">Category:
                                <span class="fs-6 fw-light"><%= workouts[i].category %></span>
                            </p>
                            <p class="fs-6 th-sm">Description:
                                <span class="fs-6 fw-light"><%= workouts[i].description %></span>
                            </p>
                            <a href="/workout/<%= workouts[i]._id %>"
                                class="btn btn-outline-primary rounded-pill">View Challenge</a>
                            </div>
                        </div>
                        </div>
                        </div>
                    </div>
                    <%}%>
                </div>
            </div>
        </div>
    </main>
    <% include ./partial/footer %>

  
  </body>
</html>
